<h1>New Event</h1>

<%= form_with model: @event do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :location %>
        <%= form.text_field :location %>
    </div>
    <div>
        <%= form.label :date %>
        <%= form.datetime_field :date %>
    </div>
    <%= form.submit "Create" %>
<% end %>