<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="p-4 sm:p-8 bg-slate-100">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %> border-2 py-2 px-4 rounded-md mb-4 font-semibold">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
